<article>
    <header>
        <h1>{{ include.title | default: page.title }}</h1>
    </header>
    <body>
        <h1>Send your question below:</h1>

        <embed src="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAN__rN8lp9UQ041NVlKNEVET0lEWkpCSFBVNlBYSDY1Ny4u&embed=true" width="100%" height="800px" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen></embed>
    </body>
</article>