<!DOCTYPE html>
<html>
<head>
    <title>Want to get your question answered on the show?</title>
    <!-- Include the common stylesheet used by home.html and index.html -->
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">
    <!-- Include any additional stylesheets or meta tags used by home.html and index.html -->
</head>
<body>
    <h1>Send your question below:</h1>

    <iframe src="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAN__rN8lp9UQ041NVlKNEVET0lEWkpCSFBVNlBYSDY1Ny4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen></iframe>
</body>
</html>